$black: #343a40;
$green: #57cc99;
$grey: #495057;
$red: #ff0054;
$pink-red: #9e0059;
$teal: #38a3a5;
$white: #f2f2f2;

$gradient-black: linear-gradient(90deg, $grey, $black);
$gradient-green: linear-gradient(90deg, $green, $teal);
$gradient-red: linear-gradient(90deg, $red, $pink-red);
