@import '../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

.maintext {
  font-weight: 400;
  font-size: 96px;
  text-align: center;
  padding: 13px;
  line-height: 152.64px;
  font-family: 'Mina', sans-serif;
  color: $white;
}

.text {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 21.5px;
  word-wrap: break-word;
}

.text-container {
  background: linear-gradient(
    90deg, #495057, #343a40);
  border-radius: 8px;
}

.number {
  font-weight: 500;
  font-size: 32px;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 10px 30px 10px;
  object-fit: cover;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  justify-content: center;
}

.card {
  width: 400px;
  height: 240px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: $white;
  margin: 33px;
  padding: 20px;
}

.card:hover {
  box-shadow: 7px 4px 10px black;
  transition: 500ms;
  transition-timing-function: ease-in;
}

.div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchboxtext {
  position: relative;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 28px;
  color: $white;
}

.input {
  width: 480px;
  height: 48px;
  padding-left: 20px;
  font-weight: 600;
  border-radius: 16px;
  border: 3px double transparent;
  box-sizing: content-box;
  color: $grey;
  border-width: 4px;
  border-style: solid;
  border-image: $gradient-red-blue;
  border-image-slice: 1;
}

.searchboxtext::before {
  content: '.';
  position: absolute;
  right: -500px;
  bottom: -100px;
  width: 1200px;
  background-color: $white;
  color: $black;
  height: 1px;
  border: 1px;
}
